<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= render "form", activity: @activity %>
    </div>
  </div>
</div>

<style>
  .btn:hover {
    background-color: #5d4777 !important;
  }
  
  a {
    color: #7c639b;
    text-decoration: none;
  }
  
  a:hover {
    color: #5d4777;
    text-decoration: underline;
  }
  
  .btn-outline-primary {
    color: #7c639b;
    border-color: #7c639b;
  }
  
  .btn-outline-primary:hover {
    background-color: #7c639b !important;
    color: white !important;
  }
</style>
